@import "transition/index";
@import "naiveui/index";
@import (css)"yiu-style/square-btn.css";
@import (css)"yiu-style/circular-btn.css";
@import (css)"index-tw.css";

html body {
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: #b4c7d0;
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: 0 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
