@import "transition/index";
@import "naiveui/index";
@import "resize-handle/index";
@import (css)"yiu-style/square-btn.css";
@import (css)"yiu-style/circular-btn.css";
@import (css)"index-tw.css";

html body {
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background-color: #b4c7d0;
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: 0 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.hide-order .yiu-anchor-order {
  display: none;
}

.yiu-note-box p {
  font-size: 14px;
  line-height: 30px;
}

.yiu-note-box li {
  margin-bottom: 8px;
}

.yiu-note-box .yiu-link {
  color: #1890ff;
}

.yiu-note-box .yiu-link:hover {
  text-decoration: underline;
}

.yiu-n-tag .n-tag__content {
  max-width: 120px;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.yiu-table .n-empty {
  --text-color: rgb(107, 114, 128) !important;
  --icon-color: rgb(107, 114, 128) !important;
}
