#nprogress .bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 2px;
    opacity: 0.75;
    @apply bg-blue-500;
}

#app {
    @apply h-full w-full overflow-hidden;
}


.fa-center {
    @apply flex justify-center items-center;
}
